
/* ---------------- SIGNUP SECTION ---------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #d9c2a3;
     width: 100vw;
     height: 100vh;
     overflow-x: hidden;
}
.signup-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cbb9a4;;
}

.signup-container {
    background: #a38766a4;
    width: 380px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 5px;
    font-size: 28px;
    color: #333;

}

.signup-container p {
    margin-bottom: 20px;
    color: #ffffff;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.input-box input:focus {
    border-color: #777;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    background: #5f411ea4;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

.btn:hover {
    background: #16110ca4;
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}
