* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #cbb9a4;
}

/* ---------------- NAVBAR ---------------- */
header {
    width: 100%;
    padding: 20px 8%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.logo {
    font-size: 28px;
    font-weight: 700;
}

.logo span {
    color: #7e4708;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #444;
    font-size: 16px;
    font-weight: 500;
}

nav a:hover {
    color: #c78e4c;
}

.icons i {
    font-size: 20px;
    margin-left: 15px;
    cursor: pointer;
    color:#000;
}

/* ---------------- HERO SECTION ---------------- */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 8%;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    font-weight: 700;
    color: #56443f;
}

.hero-text h2 {
    font-size: 28px;
    color: #a47864;
    margin-top: 10px;
}

.hero-text p {
    margin: 20px 0;
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

.hero-text button {
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    background: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background: #a47864;
}

.hero-image img {
    width: 450px;
    border-radius: 20px;
}
/* MODAL BACKDROP */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* MODAL BOX */
.modal-content {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    animation: popup 0.3s ease;
}

@keyframes popup {
    from { transform: scale(0.8); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

/* CLOSE BUTTON */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

/* BUTTONS */
.auth-buttons {
    margin-top: 20px;
}

.auth-buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: black;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.auth-buttons .btn:hover {
    background: #555;
}
.icons i {
     color: #8d5e3b;  /* makes icons brown */
    font-size: 22px;
    margin-left: 20px;
    cursor: pointer;
}